@model IEnumerable<MovieCollection.UI.Models.CountryViewModel>

@{
    Pager pager = new Pager();
    int pageNo = 0;
    if(ViewBag.Pager != null){
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Countries List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Countries" asp-action="Create" class="btn btn-primary">Create new Country</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Country Name
                    </th>
                    <th>
                        Changes
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Model)
                {
                    <tr>
                        <td width="10%">@country.Id</td>
                        <td width="70%">@country.Name</td>
                        <td width="20%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Countries" asp-action="Update" asp-route-Id="@country.Id" class="btn btn-primary mx-1">Update</a>
                                <a asp-controller="Countries" asp-action="Delete" asp-route-Id="@country.Id" class="btn btn-danger mx-1">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="container">
            @if(pager.TotalPages > 0){
                <ul class="pagination justify-content-end">
                    @for(var pge = pager.StartPage; pge <= pager.EndPage; pge++){
                        <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-controller="Countries" asp-action="Index" asp-route-pg="@pge">@pge</a>
                        </li>
                    }
                </ul>
            }
        </div>
    }
    else
    {
        <p>No Countries created yet.</p>
    }


</div>