@using MovieCollection.UI.Views.Shared.Components.SearchBar;
@model IEnumerable<MovieCollection.UI.Models.MovieViewModel>

@{
    SPager pager = new SPager();
    int pageNo = 0;
    if (ViewBag.SearchPager != null)
    {
        pager = ViewBag.SearchPager;
        pageNo = pager.CurrentPage;
    }
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Movies List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Movies" asp-action="Create" class="btn btn-primary">Create new Movie</a>
        </div>
    </div>
    <br />

    <vc:search-bar search-pager="ViewBag.SearchPager" bottom-bar="false">
    </vc:search-bar>

    <br />
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Country</th>
                    <th>Director</th> 
                    <th>Changes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <td width="10%">@movie.Id</td>
                        <td width="50%">@movie.Title</td>
                        <td width="20%">@movie.ReleaseDate.ToShortDateString()</td>
                        <td width="70%">@movie.Country.Name</td>
                        <td width="70%">@movie.Director.FirstName @movie.Director.LastName</td>

                        <td width="20%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Movies" asp-action="Update" asp-route-Id="@movie.Id" class="btn btn-primary mx-1">Update</a>
                                <a asp-controller="Movies" asp-action="Delete" asp-route-Id="@movie.Id" class="btn btn-danger mx-1">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Movies created yet.</p>
    }

    <vc:search-bar search-pager="ViewBag.SearchPager" bottom-bar="true">
    </vc:search-bar>

</div>