@model IEnumerable<MovieCollection.UI.Models.GenreViewModel>

@{
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Genres List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Genres" asp-action="Create" class="btn btn-primary">Create new Genre</a>
        </div>
    </div>
    <br />

    <partial name="_pager" model="@pager" />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Genre Name</th>
                    <th>Changes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var genre in Model)
                {
                    <tr>
                        <td width="10%">@genre.Id</td>
                        <td width="70%">@genre.Name</td>
                        <td width="20%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Genres" asp-action="Update" asp-route-Id="@genre.Id" class="btn btn-primary mx-1">Update</a>
                                <a asp-controller="Genres" asp-action="Delete" asp-route-Id="@genre.Id" class="btn btn-danger mx-1">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Genres created yet.</p>
    }
    <partial name="_pager" model="@pager" />
</div>